@namespace Blazr.App.UI
@inherits UIPagedListFormBase<Invoice, InvoiceEntityService>

<BlazrSortedGridColumn TGridItem="Invoice" SortField="@ApplicationConstants.InvoiceNumber" IsNoWrap=true Title="Invoice No">
    @context.InvoiceNumber
</BlazrSortedGridColumn>

<BlazrSortedGridColumn TGridItem="Invoice" IsMaxColumn=true SortField="@ApplicationConstants.CustomerName" IsNoWrap=true Title="Customer">
    @context.CustomerName
</BlazrSortedGridColumn>

<BlazrSortedGridColumn TGridItem="Invoice" SortField="@ApplicationConstants.InvoiceDate" IsNoWrap=true Title="Date">
    @context.InvoiceDate.AsGlobalDate()
</BlazrSortedGridColumn>

<BlazrSortedGridColumn TGridItem="Invoice" SortField="@ApplicationConstants.InvoicePrice" class="text-end pe-2" IsNoWrap=true Title="Total">
    @context.InvoicePrice.AsSterling()
</BlazrSortedGridColumn>

<BlazrGridColumn TGridItem="Invoice" Title="Actions" IsNoWrap=true Class="text-end">
    <UIButtonGroup>
        <button class="btn btn-sm btn-secondary" @onclick="() => this.OnViewAsync(context)">View</button>
        <button class="btn btn-sm btn-primary" @onclick="() => this.OnDashboardAsync(context)">Dash</button>
    </UIButtonGroup>
</BlazrGridColumn>

